@layer base, component, utility;
/* setted */
@layer base {
    :root {
        /* main colors */
        --black: #000000;
        --white: #ffffff;
        --gray: #979797;
        --blue: #4f91f8;
        --yellow: #f9b31d;
        --pink: #fc6fd3;
        --purple: #9571f8;
        --green: #00ff5e;

        /* background */
        --background: #0c0c0f;
        --separator: #1d1d20;

        /* User Card */
        --user-card-primary: #000000;
        --user-card-accent: #ff00f7;
        --user-card-username-stroke: #ff00fb;
        --user-card-card: linear-gradient(
            180deg,
            var(--user-card-primary) 30%,
            var(--user-card-accent) 96%
        );
        --user-card-inner-card:
            linear-gradient(
                color-mix(in srgb, var(--white) 60%, transparent),
                color-mix(in srgb, var(--white) 60%, transparent)
            ),
            linear-gradient(
                180deg,
                var(--user-card-primary) 0%,
                var(--user-card-accent) 100%
            );
        --user-card-profile-picture-stroke:
            linear-gradient(
                180deg,
                color-mix(in srgb, var(--white) 60%, transparent) 0%,
                color-mix(in srgb, var(--white) 60%, transparent) 50%,
                color-mix(in srgb, var(--white) 0%, transparent) 50%,
                color-mix(in srgb, var(--white) 0%, transparent) 100%
            ),
            linear-gradient(
                180deg,
                var(--user-card-primary) 0%,
                var(--user-card-primary) 50%,
                color-mix(in srgb, var(--white) 0%, transparent) 50%,
                color-mix(in srgb, var(--white) 0%, transparent) 100%
            );

        /* Text Colors */
        --text: #979797;
        --text-highlight: #f46fd6;
        --text-hyperlink: #9571f8;
        --text-heading: var(--white);

        /* Default Card */
        --card-background: #141417;
        --card-stroke: #242427;

        /* Purple Card */
        --purple-card-background: #14121d;
        --purple-card-stroke: #2e2549;

        /* Blue Card */
        --blue-card-background: #2e4873;
        --blue-card-stroke: #1b202b;

        /* Yellow Card */
        --yellow-card-background: #71561b;
        --yellow-card-stroke: #28231a;

        /* Pink Card */
        --pink-card-background: #733b65;
        --pink-card-stroke: #291e29;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    html,
    body,
    #root {
        padding: 0;
        margin: 0;
        background: var(--background);
    }
    h1 {
        font-family: sans-serif;
        font-size: 3rem;
    }
    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 2rem;
        font-weight: 600;
    }
    h3 {
        font-family: "DM Sans", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }
    h4 {
        font-family: "DM Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
    }
    h5 {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 600;
    }
    p {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
    }
    a {
        text-decoration: unset;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: var(--text-highlight);
    }
}

@layer base {
    .container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    nav {
        width: 100%;
        font-size: 2rem;
    }
    nav .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* padding-inline: 1rem; */
        padding: 1rem;
    }
    nav a {
        font-family: "Pixelify Sans", sans-serif;
        font-size: 32px;
    }
    nav .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    nav .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
        transition:
            max-height 0.25s ease-in-out,
            padding 0.25s ease-in-out,
            opacity 0.25s ease-in-out;
        gap: 1rem;
    }
    nav.active .links {
        max-height: 300px;
        opacity: 1;
        padding: 1rem 0;
    }
    nav .links a {
        display: ruby;
        text-wrap: nowrap;
        color: var(--white);
    }
}

@layer component {
    .hamburger {
        all: unset;
        display: block;
        position: relative;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
    }
    .hamburger span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        content: "";
        width: 80%;
        height: 4px;
        background: var(--white);
        border-radius: 16px;
        transition:
            top 0.25s ease-in-out 0.25s,
            opacity 0s linear 0.25s,
            transform 0.25s ease-in-out 0s;
    }
    nav.active .hamburger span {
        transition:
            top 0.25s ease-in-out 0s,
            opacity 0s linear 0.25s,
            transform 0.25s ease-in-out 0.25s;
    }
    .hamburger span:nth-child(1) {
        top: 25%;
    }
    .hamburger span:nth-child(3) {
        top: 75%;
    }
    nav.active .hamburger span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    nav.active .hamburger span:nth-child(2) {
        opacity: 0;
    }
    nav.active .hamburger span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
