[component:experience-card;*type,&value,name,time,icon]
<div class="experiencecard">
    <i class="{icon}" aria-hidden="true"></i>
    <div class="content">
        <p class="name">{name}</p>
        <strong>{value}</strong>
        <p class="time">{time}</p>
    </div>
</div>
(type=dead)
<div class="experiencecard inactive">
    <i class="{icon}" aria-hidden="true"></i>
    <div class="content">
        <p class="name">{name}</p>
        <strong>{value}</strong>
        <p class="time">{time}</p>
    </div>
</div>