[component:navbar]
<nav id="nav" aria-label="Main navigation">
  <div class="container">
    <div class="head">
      <a href="https://pslib-cz.github.io/2025-p2a-web-volny-projekt-misalibaytb/" aria-label="misaliba homepage">misaliba</a>
      <input id="hamburger-toggle" class="hamburger-toggle" type="checkbox" aria-label="Toggle navigation menu"
        aria-controls="primary-navigation" />
      <label class="hamburger" for="hamburger-toggle">
        <span class="sr-only">Toggle navigation menu</span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </label>
    </div>
    <ul class="links" id="primary-navigation">
      <li>
        <a href="https://pslib-cz.github.io/2025-p2a-web-volny-projekt-misalibaytb/#home"><i class="far fa-user" aria-hidden="true"></i>About</a>
      </li>
      <li>
        <a href="https://pslib-cz.github.io/2025-p2a-web-volny-projekt-misalibaytb/#techstack"><i class="fas fa-bolt" aria-hidden="true"></i>Skills</a>
      </li>
      <li>
        <a href="https://pslib-cz.github.io/2025-p2a-web-volny-projekt-misalibaytb/#projects"><i class="fas fa-code" aria-hidden="true"></i>Projects</a>
      </li>
      <li>
        <a href="https://pslib-cz.github.io/2025-p2a-web-volny-projekt-misalibaytb/#contact"><i class="far fa-envelope" aria-hidden="true"></i>Contact</a>
      </li>
    </ul>
  </div>
</nav>
<a href="#nav" class="scroll" aria-label="Scroll to top of page">
  <i class="fas fa-arrow-up" aria-hidden="true"></i>
</a>