[component:navbar]
<nav id="nav">
    <div class="container">
        <div class="head">
            <a href="/">misaliba</a>
            <input id="hamburger-toggle" class="hamburger-toggle" type="checkbox" />
            <label class="hamburger" for="hamburger-toggle" aria-label="Open menu">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="links">
            <a href="/#home"><i class="far fa-user" aria-hidden="true"></i>About</a>
            <a href="#techstack"><i class="fas fa-bolt"></i>Skills</a>
            <a href="#projects"><i class="fas fa-code"></i>Projects</a>
            <a href="#contact"><i class="far fa-envelope"></i>Contact</a>
        </div>
    </div>
</nav>
<strong class="siteurl">https://misaliba.eu/</strong>