[component:seo]
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>

<link rel="preload"
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap"
    as="style" onload="this.onload=null;this.rel='stylesheet'">

<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" as="style"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" onload="this.onload=null;this.rel='stylesheet'">

<noscript>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</noscript>


<meta name="description"
    content="Personal portfolio of misaliba, a developer from Czechia studying Web Apps & Multimedia at pslib.cz and building projects with Go, TypeScript, React, PostgreSQL, Redis, and Docker.">

<meta name="keywords"
    content="misaliba, developer, portfolio, Go, TypeScript, React, PostgreSQL, Redis, Docker, pslib, Czechia">

<meta name="author" content="misaliba">
<meta name="robots" content="index, follow">

<meta property="og:type" content="website">
<meta property="og:title" content="misaliba — Developer Portfolio">
<meta property="og:description"
    content="Personal portfolio of misaliba, a developer from Czechia focused on Go, TypeScript, React, PostgreSQL, Redis, and Docker.">
<meta property="og:url" content="https://misaliba.gambaaa.fun/">
<meta property="og:image" content="https://misaliba.gambaaa.fun//assets/images/avatar.jpeg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="misaliba — Developer Portfolio">
<meta name="twitter:description"
    content="Personal portfolio of misaliba, a developer from Czechia focused on Go, TypeScript, React, PostgreSQL, Redis, and Docker.">
<meta name="twitter:image" content="https://misaliba.gambaaa.fun//assets/images/avatar.jpeg">

<link rel="canonical" href="https://misaliba.gambaaa.fun/">
<link rel="icon" href="/assets/images/avatar.jpeg" round>
<link rel="sitemap" href="/sitemap.xml">
<script src="/assets/scripts/scroll.js" defer></script>