[component:user-card]
<article class="user-card">
    <header class="user-card__wrapper">
        <div class="banner" aria-hidden="true"></div>
        <figure class="avatar-frame">
            <img src="/avatar.jpeg" alt="misaliba's profile picture" class="avatar" loading="lazy" decoding="async">
        </figure>
        <section class="bio" aria-labelledby="user-card-username">
            <h2 class="username" id="user-card-username" data-text="qt misaliba">qt misaliba</h2>
            <p class="name">misaliba · he/him</p>
            <p class="yap">Hi there, I’m Misaliba, an 18-year-old developer from Czechia currently attending PSLIB.CZ
                high school. I have a passion for working on low-level projects, including my own operating system.
                However, I also enjoy building infrastructure-focused systems, such as custom container orchestrators
                and reverse proxies.Currently, I’m primarily creating projects to gain a deeper
                understanding of how
                things work under the hood and how different components interact before embarking on more significant
                and serious projects.</p>
        </section>
    </header>
</article>