[component:user-card]
<div class="user-card">
    <div class="user-card__wrapper">
        <div class="banner"></div>
        <div class="avatar-frame">
            <img src="./avatar.jpeg" alt="misaliba's profile picture" class="avatar">
        </div>
        <div class="bio">
            <span class="username" data-text="qt misaliba">qt misaliba</span>
            <span class="name">misaliba · he/him</span>
            <span class="yap">Hi, I’m misaliba, an 18 y/o developer from Czechia currently attending pslib.cz high
                school. I enjoy working on
                low-level projects, including my own operating system, but I also like building infrastructure-focused
                systems such as
                custom container orchestrators and reverse proxies. Right now, I mainly create projects to better
                understand how things
                work under the hood and connect together before starting something bigger.</span>
        </div>
    </div>
</div>