@layer components {
  .experiencecard {
    background-color: var(--purple-card-background);
    border-radius: 1rem;
    border: 0.125rem solid var(--purple-card-stroke);
    padding: 1rem;
    display: inline-grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
    width: 100%;
    align-self: start;
    gap: 0.625rem;
  }

  .experiencecard i {
    font-size: 2.25rem;
    color: var(--white);
  }
  .experiencecard.inactive {
    background-color: var(--card-background);
    border-color: var(--card-stroke);
  }
  .experiencecard strong {
    color: var(--text-heading);
    font-size: 0.75rem;
    line-height: 1.2;
    margin: 0 0 0.5rem 0;
  }
  .experiencecard p {
    color: var(--text);
    font-size: 0.75rem;
    margin: 0;
  }
}
