@layer components {
  .role-card {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: var(--this-background, var(--card-background));
    border: 0.125rem solid var(--this-stroke, var(--card-stroke));
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    color: var(--this-text, var(--text));
  }
}

@layer utilities {
  .role-card.blue {
    --this-background: var(--blue-card-background);
    --this-stroke: var(--blue-card-stroke);
    --this-text: var(--blue);
  }
  .role-card.yellow {
    --this-background: var(--yellow-card-background);
    --this-stroke: var(--yellow-card-stroke);
    --this-text: var(--yellow);
  }
  .role-card.pink {
    --this-background: var(--pink-card-background);
    --this-stroke: var(--pink-card-stroke);
    --this-text: var(--pink);
  }
  .role-card.purple {
    --this-background: var(--purple-card-background);
    --this-stroke: var(--purple-card-stroke);
    --this-text: var(--purple);
  }
  .role-card.orange {
    --this-background: var(--orange-card-background);
    --this-stroke: var(--orange-card-stroke);
    --this-text: var(--orange);
  }
}
