@layer components {
  .skillcard {
    background-color: var(--card-background);
    border-radius: 1rem;
    border: 0.125rem solid var(--card-stroke);
    padding: 1rem;
    width: 100%;

    display: grid;
    grid-row: span 2;
    grid-template-rows: subgrid;

    align-items: start;
  }

  .skillcard strong {
    color: var(--text-highlight);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 0.9;
    margin: 0;
  }

  .skillcard p {
    color: var(--text);
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0;
    align-self: start;
  }

  .skillcard.white {
    color: var(--white);
  }

  .skillcard.white strong,
  .skillcard.white p {
    color: inherit;
  }
}
