@layer components {
  .user-card {
    display: grid;
    max-width: 23.75rem;
    border-radius: 0.5rem;
    background: var(--user-card-card);
    position: relative;
    overflow: hidden;
    padding: 0.25rem;
  }

  .user-card__wrapper {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    overflow: hidden;
  }
  .user-card .banner {
    background-color: var(--user-card-primary);
    width: 100%;
    height: 5rem;
  }
  .user-card .avatar-frame {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
    width: 7.5rem;
    height: 7.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0.25rem;
    background: var(--user-card-profile-picture-stroke);
    overflow: hidden;
    margin: 0;
  }
  .user-card .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .user-card .bio {
    width: 100%;
    background: var(--user-card-inner-card);
    padding: 1rem;
    padding-top: 4.875rem;
    margin-top: 0;
  }
  .user-card .bio .username {
    position: relative;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    z-index: 0;
    margin: 0;
  }

  .user-card .bio .username::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    z-index: -1;
    /* color: transparent; */
    -webkit-text-stroke: 0.1875rem var(--user-card-username-stroke);
  }

  .user-card .bio .name {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--white);
    display: block;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .user-card .bio .yap {
    margin-top: 0;
    color: var(--white);
    font-size: 0.875rem;
  }
}
